.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

@media screen and (max-width: 996px) {
  .logo {
    width: 10em;
  }
}

.logo {
  width: 15em;
  border-radius: 20px;
}

.desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}
